{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="header">Your Budgets</div>
<div class="container">
    <!-- Welcome message -->
    <h1>Welcome to the Dashboard, {{ user.username }}!</h1>

    <div class="card">
        <h2>Your Budgets</h2>
        <ul>
            {% for budget in budgets %}
                <li>
                    <a href="{% url 'budget_detail' budget.id %}">{{ budget.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <!-- Add New Budget button -->
        <a href="{% url 'add_budget' %}">
            <button>Add New Budget</button>
        </a>
    </div>
    <div>
        <!-- Logout button -->
        <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
    </div>
</div>
{% endblock %}
